font-face {
  font-family: "Inter Regular";
  src: url("../fonts/static/Inter-Regular.ttf");
}

font-face {
  font-family: "Inter SemiBold";
  src: url("../fonts/static/Inter-SemiBold.ttf");
}

font-face {
  font-family: "Inter Bold";
  src: url("../fonts/static/Inter-Bold.ttf");
}
