@use "reset";

@use "variables" as v;
@use "functions" as fn;
@use "typography" as ty;

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: v.$color-slate-300;
  font-family: "Outfit", sans-serif, system-ui;
  font-size: v.$fs;
}

.container {
  max-width: fn.rem(320);
}

.qr-code {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: fn.rem(v.$spacing-300);
  padding: fn.rem(v.$spacing-200);
  padding-bottom: fn.rem(v.$spacing-500);
  border-radius: 20px;
  background-color: v.$color-white;

  &__img {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: contain;
  }

  &__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: fn.rem(v.$spacing-200);
    text-align: center;
  }

  &__title {
    color: v.$color-slate-900;
    margin: 0 fn.rem(v.$spacing-200);
    margin-top: 0;
    @include ty.text-preset-1;
  }

  &__summary {
    color: v.$color-slate-500;
    padding: 0 fn.rem(v.$spacing-200);
    margin: 0;
    @include ty.text-preset-2;
  }
}
