@import "reset";
@import "variables";
@import "fonts";

body {
  background-color: $color-slate-300;
  font-family: "Outfit", sans-serif;
  font-size: $fs;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100dvh;
}

.container {
  max-width: rem(320);
}

.qr-code {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: $spacing-300;
  padding: $spacing-200;
  padding-bottom: $spacing-500;
  border-radius: 20px;
  background-color: $color-white;

  &__display {
    border-radius: 10px;
    overflow: hidden;

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__description {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: $spacing-200;
    text-align: center;

    .title {
      @include text-preset-1;
      color: $color-slate-900;
      margin: 0 $spacing-200;
      margin-top: 0;
    }

    .summary {
      @include text-preset-2;
      color: $color-slate-500;
      padding: 0 $spacing-200;
      margin: 0;
    }
  }
}
