<section class="min-w-[320px] w-[343px] tablet:w-[540px] font-bold text-grey">
  <h1 class="mb-4 tablet:mb-8 tablet:text-2xl text-center">Password Generator</h1>

  <app-password-display [password]="resultingPassword"></app-password-display>

  <div class="mt-4 tablet:mt-6 p-4 tablet:p-8 tablet:pt-6 bg-dark-grey text-white">
    <div class="flex justify-between items-center">
      <span class="tablet:text-body-m">Character Length</span>
      <span class="text-heading-m tablet:text-heading-l text-neon-green">{{ characterLength.value }}</span>
    </div>

    <app-password-length-slider [minLength]="characterLength.min" [maxLength]="characterLength.max"
      (lengthChange)="characterLength.value = $event; resetPassword()"></app-password-length-slider>

    <div class="flex flex-col gap-5">
      @for (option of includeOptions; track option.id) {
      <div class="flex items-center" role="group">
        <input
          class="appearance-none w-5 h-5 border-2 mr-5 tablet:mr-6 border-almost-white checked:border-neon-green bg-transparent bg-center bg-no-repeat checked:bg-neon-green checked:bg-icon-check cursor-pointer"
          [(ngModel)]="option.value" (change)="updateComplexity();resetPassword()" type="checkbox" [id]="option.id"
          [name]="option.label">
        <label class="tablet:text-body-m" [for]="option.id">{{ option.label }}</label>
      </div>
      }
    </div>

    <app-password-strength [complexity]="complexity"></app-password-strength>

    <button
      class="w-full flex justify-center items-center gap-4 tablet:gap-6 mt-4 tablet:mt-8 py-[18px] border-2 border-transparent hover:border-neon-green bg-neon-green hover:bg-transparent text-black hover:text-neon-green hover:cursor-pointer"
      [disabled]="characterLength.value < characterLength.min" (click)="resetPassword();maybeGeneratePassword()"
      type="button" name="generate">
      <span class="tablet:text-body-m uppercase">Generate</span>
      <svg width="12" height="12" xmlns="http://www.w3.org/2000/svg">
        <path d="m5.106 12 6-6-6-6-1.265 1.265 3.841 3.84H.001v1.79h7.681l-3.841 3.84z" />
      </svg>
    </button>
  </div>
</section>