<div class="flex justify-between my-8 py-[14px] px-4 tablet:py-5 tablet:px-8 bg-very-dark-grey uppercase">
  <span class="tablet:text-body-m uppercase text-grey">Strength</span>
  <div class="flex items-center gap-4 text-body-m uppercase text-almost-white">
    @if (complexityLabelMap.has(complexity)) {
    <span>{{complexityLabelMap.get(complexity)}}</span>
    }
    <div class="flex gap-2 h-7">
      @for (option of complexityLabelMap.keys(); track $index) {
      <span
        [ngClass]="{'bg-red border-red': complexity == 1 && $index == 0,'bg-orange border-orange': complexity == 2 && $index <= 1,'bg-yellow border-yellow': complexity == 3 && $index <= 2,'bg-neon-green border-neon-green': complexity == 4 && $index <= 3}"
        class="w-[10px] h-full border-2 border-almost-white"></span>
      }
    </div>
  </div>
</div>