/*** CSS Reset ***/
* {
  min-width: 0;
  font: inherit;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100dvh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: pretty;
  margin: 0;
  padding: 0;
}

p {
  text-wrap: pretty;
  margin: 0;
  padding: 0;
}

/*** CSS Reset ***/
@font-face {
  font-family: "Red Hat Display";
  src: url("../fonts/RedHatDisplay-VariableFont_wght.ttf");
  font-weight: 500 900;
}
@font-face {
  font-family: "Red Hat Display";
  src: url("../fonts/RedHatDisplay-VariableFont_wght.ttf");
  font-weight: 500 900;
}
.btn {
  display: inline-block;
  padding: 1rem 2.5rem;
  color: #fafafa;
  border: 0;
  border-radius: 29px;
  border-color: transparent;
  font-weight: 900;
  line-height: 150%;
  letter-spacing: 0;
  font-size: 1rem;
  text-wrap: nowrap;
}
.btn-blue {
  background-color: #4d96a9;
}
.btn-blue:hover {
  background-color: #71c0d4;
}
.btn-blue em {
  color: #8fe3f9;
}
.btn-purple {
  background-color: #855fb1;
}
.btn-purple:hover {
  background-color: #b18bdd;
}
.btn-purple em {
  color: #d9b8ff;
}

.btn-group {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.number {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.number span:first-child {
  /** Vertical line */
  display: block;
  width: 1px;
  height: 5rem;
  border-right: 1px solid #d1d1df;
}
.number span:last-child {
  /** Rounded number */
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3.5rem;
  height: 3.5rem;
  border: 1px solid #d1d1df;
  border-radius: 50%;
  color: #87879d;
  background-color: #fafafa;
  font-weight: 900;
  line-height: 150%;
  letter-spacing: 0;
  font-size: 1rem;
}

@media (width < 48rem) {
  .hidden-mobile {
    display: none;
  }
}
@media ((width >= 48rem) and (width < 90rem)) {
  .hidden-tablet {
    display: none;
  }
}
@media (width >= 90rem) {
  .hidden-desktop {
    display: none;
  }
}
body {
  padding-top: 5rem;
  font-family: "Red Hat Display", sans-serif, system-ui;
  font-size: 16px;
  text-align: center;
}

.navbar > * {
  display: block;
}

main {
  width: 100%;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-top: 4rem;
}
.hero__image-mobile {
  --min-width: 27.0625rem;
  --max-width: 51.25rem;
  --min-height: 10rem;
  --max-height: 18.9375rem;
  width: 100%;
  height: clamp(var(--min-height), var(--min-height) + 100vw - 23.4375rem, var(--max-height));
  background: url("../images/tablet/image-hero.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: clamp(var(--min-width), var(--min-width) + 100vw - var(--min-width), 100%) auto;
}
.hero__content {
  --h1-fs: 2.5rem;
  --p-fs: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  max-width: 30rem;
  padding: 3rem 2.1875rem 2rem 2.1875rem;
}
.hero__content h1 {
  max-width: 10ch;
  color: #28283d;
  font-weight: 900;
  line-height: 110%;
  letter-spacing: 0;
  font-size: var(--h1-fs);
}
.hero__content p {
  color: #87879d;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0;
  font-size: var(--p-fs);
}
.hero__content .btn-group {
  padding: 0 3.5rem;
  flex-wrap: wrap;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  padding-bottom: 4rem;
}
.main-content__image-collage {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  align-content: stretch;
  justify-items: center;
  gap: 1rem;
  max-width: 70rem;
  padding: 4rem 0;
}
.main-content__image-collage img {
  width: 100%;
  min-width: 9.21875rem;
  height: 100%;
  min-height: 9rem;
  object-fit: cover;
  border-radius: 0.5rem;
}
.main-content__text {
  --h2-fs: 2rem;
  --p-fs: 0.75rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 31.5rem;
}
.main-content__text h2 {
  padding-bottom: 2rem;
  font-weight: 900;
  line-height: 110%;
  letter-spacing: 0;
  font-size: var(--h2-fs);
  color: #28283d;
}
.main-content__text h2 em {
  display: block;
  padding-bottom: 1rem;
  font-weight: 900;
  line-height: 110%;
  letter-spacing: 0.25rem;
  font-size: var(--p-fs);
  text-transform: uppercase;
  color: #4d96a9;
}
.main-content__text p {
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0;
  font-size: 1rem;
  color: #87879d;
}

.cta-footer {
  width: 100%;
  color: #fafafa;
}
.cta-footer__content {
  --image-footer: url("../images/mobile/image-footer.jpg");
  --h2-fs: 2rem;
  --p-fs: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  margin-top: -1.75rem;
  padding: 4rem 2rem;
  background: linear-gradient(rgba(77, 150, 168, 0.8), rgba(143, 227, 249, 0.8)), var(--image-footer);
  background-repeat: no-repeat;
  background-size: cover;
}
.cta-footer__content h2 {
  font-weight: 900;
  line-height: 110%;
  letter-spacing: 0;
  font-size: var(--h2-fs);
}
.cta-footer__content p {
  min-width: 19.4375rem;
  max-width: 31.5rem;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0;
  font-size: var(--p-fs);
}

@font-face {
  font-family: "Red Hat Display";
  src: url("../fonts/RedHatDisplay-VariableFont_wght.ttf");
  font-weight: 500 900;
}
@media (width < 48rem) {
  .hidden-mobile {
    display: none;
  }
}
@font-face {
  font-family: "Red Hat Display";
  src: url("../fonts/RedHatDisplay-VariableFont_wght.ttf");
  font-weight: 500 900;
}
@media (width >= 48rem) {
  .hero__image-mobile {
    background-size: 51.25rem auto;
  }
  .hero__content {
    --h1-fs: 3rem;
    --p-fs: 1rem;
  }
  .hero__content .btn-group {
    flex-wrap: nowrap;
    padding: 0;
  }
  .main-content {
    padding: 3.375rem 2.75rem 4rem 2.75rem;
  }
  .main-content__image-collage {
    grid-template-columns: repeat(4, auto);
    grid-template-rows: auto;
    gap: 1.5rem;
  }
  .main-content__image-collage img {
    min-height: 10rem;
  }
  .main-content__text {
    --h2-fs: 2.25rem;
    --p-fs: 0.875rem;
  }
  .main-content__text h2 {
    max-width: 27.6875rem;
  }
  .cta-footer__content {
    --image-footer: url("../images/tablet/image-footer.jpg");
    --h2-fs: 2.25rem;
  }
}
@font-face {
  font-family: "Red Hat Display";
  src: url("../fonts/RedHatDisplay-VariableFont_wght.ttf");
  font-weight: 500 900;
}
@media (width >= 90rem) {
  .hero {
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap: 2rem;
    width: 100%;
    height: 30.5rem;
    padding: 4rem 0;
  }
  .hero__image-desktop--left {
    flex: 1;
    width: 24.625rem;
    height: 100%;
    background-image: url("../images/desktop/image-hero-left.png");
    background-repeat: no-repeat;
    background-position: top 0 right 5.990625rem;
  }
  .hero__image-desktop--right {
    flex: 1;
    width: 24.625rem;
    height: 100%;
    background-image: url("../images/desktop/image-hero-right.png");
    background-repeat: no-repeat;
    background-position: top 3.5625rem left 5.990625rem;
  }
  .hero__content {
    --h1-fs: 4rem;
    --p-fs: 1.125rem;
    padding: 1.4375rem 2rem;
  }
  .main-content__image-collage {
    grid-template-columns: repeat(4, auto);
    grid-template-rows: auto;
    gap: 2rem;
  }
  .main-content__text {
    max-width: 34rem;
  }
  .cta-footer__content {
    --image-footer: url("../images/desktop/image-footer.jpg");
    flex-direction: row;
    align-items: flex-start;
    gap: 2rem;
    padding: 7rem 5rem;
  }
  .cta-footer__content h2,
  .cta-footer__content p {
    text-align: initial;
  }
  .cta-footer__content h2 {
    max-width: 27.8125rem;
    font-size: 2.5rem;
  }
  .cta-footer__content p {
    max-width: 22.1875rem;
    font-size: 1.125rem;
  }
  .cta-footer__content .btn {
    margin-left: 3.9375rem;
  }
  .btn-group {
    flex-wrap: nowrap;
  }
}/*# sourceMappingURL=styles.css.map */