@font-face {
  font-family: "FigtreeMedium";
  src: url("../fonts/Figtree-Medium.ttf");
  font-weight: 100;
}

@font-face {
  font-family: "FigtreeExtraBold";
  src: url("../fonts/Figtree-ExtraBold.ttf");
  font-weight: 900;
}
