$fs-value: 16;
$fs: $fs-value + px;

$color-pure-white: #fff;
$color-cream: #f2eae2;
$color-aurometal-saurus: #6c7289;
$color-deep-aquamarine: #3d8168;
$color-deep-aquamarine-hover: #1a4032;
$color-gun-metal: #1c232b;