@import "reset";
@import "variables";
@import "functions";
@import "fonts";

.visually-hidden {
  display: none;
}

.icon {
  width: rem(15);
  height: rem(16);

  &.icon-cart {
    background-image: url("../images/icon-cart.svg");
  }
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: $fs;
  background-color: $color-cream;
}

.card {
  display: flex;
  flex-direction: column;
  width: rem(343);
  border-radius: 10px;
  background-color: $color-pure-white;
  overflow: hidden;

  picture {
    display: block;

    img {
      display: block;
      width: 100%;
      height: 100%;
      max-height: rem(240);
    }
  }

  &__content {
    padding: rem(24);

    hgroup {
      display: flex;
      flex-direction: column-reverse;
      gap: rem(12);

      h1 {
        @include text-display;
        color: $color-gun-metal;
      }

      h2 {
        @include text-overline;
        color: $color-aurometal-saurus;
        text-transform: uppercase;
      }
    }

    .description {
      @include text-body;
      color: $color-aurometal-saurus;
      margin: rem(16) 0 rem(24) 0;
    }

    .price {
      padding-bottom: rem(20);
      @include text-display;
      color: $color-deep-aquamarine;

      s {
        margin-left: rem(19);
        color: $color-aurometal-saurus;
        font-family: "Montserrat", sans-serif, system-ui;
        font-size: rem(13);
        font-weight: 500; // Medium
        letter-spacing: 0;
        vertical-align: top;

        /** Taken from https://fedmentor.dev/posts/html-plan-product-preview/#prices */
        &::before,
        &::after {
          @extend .visually-hidden;
        }

        &::before {
          content: " [strike-through start] ";
        }
        &::after {
          content: " [strike-through end] ";
        }
        /****************************************************************************/
      }
    }

    .add-to-cart {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: rem(12); // rounding up 11.6
      width: 100%;
      padding: rem(15) 0;
      background-color: $color-deep-aquamarine;
      border-color: transparent;
      border-radius: 8px;
      @include text-button;
      text-wrap: nowrap;
      color: $color-pure-white;

      &:hover {
        background-color: $color-deep-aquamarine-hover;
      }
    }
  }
}

@media (width > rem(600)) {
  .card {
    flex-direction: row;
    width: rem(600);
    height: rem(450);

    picture img {
      max-height: initial; // default value
    }

    &__content {
      padding: rem(32);
      max-width: 50%;

      hgroup {
        gap: rem(20);
      }

      .description {
        margin: rem(24) 0 rem(29) 0;
      }

      .price {
        padding-bottom: rem(30);
      }
    }
  }
}
