@import "variables";

@font-face {
  font-family: "Barlow Semi Condensed Medium";
  src: url("../fonts/BarlowSemiCondensed-Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: "Barlow Semi Condensed SemiBold";
  src: url("../fonts/BarlowSemiCondensed-SemiBold.ttf");
  font-weight: 600;
}
