$fs-value: 16;
$fs: $fs-value + px;

$color-moderate-violet: #733fc8;
$color-very-dark-grayish-blue: #48556a;
$color-very-dark-blackish-blue: #19202d;
$color-white: #fff;
// $color-light-gray: hsl(0, 0%, 81%);
// $color-light-grayish-blue: hsl(210, 46%, 95%);
$color-daniel-avatar-border: #a775f1;

$breakpoint-desktop: 1100;
