@use "variables" as v;
@use "functions" as fn;
@use "typography" as ty;

.btn {
  display: inline-block;
  padding: fn.rem(16) fn.rem(40);
  color: v.$color-white;
  border: 0;
  border-radius: 29px;
  border-color: transparent;
  @include ty.text-preset-5;
  font-size: fn.rem(v.$fs-text-preset-5-desktop);
  text-wrap: nowrap;

  &-blue {
    background-color: v.$color-cyan-600;

    &:hover {
      background-color: v.$color-btn-blue-hover;
    }

    em {
      color: v.$color-cyan-300;
    }
  }

  &-purple {
    background-color: v.$color-purple-600;

    &:hover {
      background-color: v.$color-btn-purple-hover;
    }

    em {
      color: v.$color-purple-300;
    }
  }
}

.btn-group {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: fn.rem(16);
}
