@use "variables" as v;
@use "functions" as fn;

@media (width < fn.rem(v.$breakpoint-tablet)) {
  .hidden-mobile {
    display: none;
  }
}

@media ((width >= fn.rem(v.$breakpoint-tablet)) and (width < fn.rem(v.$breakpoint-desktop))) {
  .hidden-tablet {
    display: none;
  }
}

@media (width >= fn.rem(v.$breakpoint-desktop)) {
  .hidden-desktop {
    display: none;
  }
}
