@use "variables" as v;
@use "functions" as fn;
@use "typography" as ty;

.number {
  display: flex;
  flex-direction: column;
  align-items: center;

  span:first-child {
    /** Vertical line */
    display: block;
    width: 1px;
    height: fn.rem(v.$number-line-height);
    border-right: 1px solid v.$color-slate-300;
  }

  span:last-child {
    /** Rounded number */
    display: flex;
    align-items: center;
    justify-content: center;
    width: fn.rem(v.$number-width);
    height: fn.rem(v.$number-height);
    border: 1px solid v.$color-slate-300;
    border-radius: 50%;
    color: v.$color-slate-600;
    background-color: v.$color-white;
    @include ty.text-preset-5;
    font-size: fn.rem(v.$fs-text-preset-5-desktop);
  }
}
