@use "variables" as v;
@use "functions" as fn;

.hero {
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: fn.rem(32);
  width: 100%;
  height: fn.rem(488);
  padding: fn.rem(64) 0;

  &__image-desktop--left {
    flex: 1;
    width: fn.rem(394);
    height: 100%;
    background-image: url("../images/desktop/image-hero-left.png");
    background-repeat: no-repeat;
    background-position: top 0 right fn.rem(95.85);
  }

  &__image-desktop--right {
    flex: 1;
    width: fn.rem(394);
    height: 100%;
    background-image: url("../images/desktop/image-hero-right.png");
    background-repeat: no-repeat;
    background-position: top fn.rem(57) left fn.rem(95.85);
  }

  &__content {
    --h1-fs: #{fn.rem(v.$fs-text-preset-1-desktop)};
    --p-fs: #{fn.rem(v.$fs-text-preset-4-desktop)};

    padding: fn.rem(23) fn.rem(32);
  }
}

.main-content {
  &__image-collage {
    grid-template-columns: repeat(4, auto);
    grid-template-rows: auto;
    gap: fn.rem(32);
  }

  &__text {
    max-width: fn.rem(544);
  }
}

.cta-footer {
  --image-footer: url("../images/desktop/image-footer.jpg");

  &__content {
    flex-direction: row;
    align-items: flex-start;
    gap: fn.rem(32);
    padding: fn.rem(112) fn.rem(80);

    h2,
    p {
      text-align: initial;
    }

    h2 {
      max-width: fn.rem(445);
      font-size: fn.rem(v.$fs-text-preset-2-desktop);
    }
    p {
      max-width: fn.rem(355);
      font-size: fn.rem(v.$fs-text-preset-4-desktop);
    }
    .btn {
      margin-left: fn.rem(63);
    }
  }
}

.btn-group {
  flex-wrap: nowrap;
}
