@use "variables" as v;
@use "functions" as fn;

.hero {
  &__image-mobile {
    background-size: fn.rem(820) auto;
  }

  &__content {
    --h1-fs: #{fn.rem(v.$fs-text-preset-1-tablet)};
    --p-fs: #{fn.rem(v.$fs-text-preset-4-tablet)};

    .btn-group {
      flex-wrap: nowrap;
      padding: 0;
    }
  }
}

.main-content {
  padding: fn.rem(54) fn.rem(44) fn.rem(64) fn.rem(44);

  &__image-collage {
    grid-template-columns: repeat(4, auto);
    grid-template-rows: auto;
    gap: fn.rem(24);

    img {
      min-height: fn.rem(160);
    }
  }

  &__text {
    --h2-fs: #{fn.rem(v.$fs-text-preset-2-tablet)};
    --p-fs: #{fn.rem(v.$fs-text-preset-3-tablet)};

    h2 {
      max-width: fn.rem(443);
    }
  }
}

.cta-footer {
  --image-footer: url("../images/tablet/image-footer.jpg");
  &__content {
    --h2-fs: #{fn.rem(v.$fs-text-preset-2-tablet)};
  }
}
