@use "sass:math";

@import "reset";
@import "fonts";
@import "variables";
@import "functions";
@import "buttons";
@import "number";
@import "hidden";

body {
  padding-top: rem(80);
  font-family: "Red Hat Display", sans-serif, system-ui;
  font-size: $fs;
  text-align: center;
}

.navbar > * {
  display: block;
}

main {
  width: 100%;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-top: rem(64);

  &__image-mobile {
    --min-width: #{rem(433)};
    --max-width: #{rem(820)};
    --min-height: #{rem(160)};
    --max-height: #{rem(303)};

    width: 100%;
    height: clamp(
      var(--min-height),
      var(--min-height) + (100vw - rem($breakpoint-mobile)),
      var(--max-height)
    );
    background: url("../images/tablet/image-hero.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: clamp(
        var(--min-width),
        var(--min-width) + (100vw - var(--min-width)),
        100%
      )
      auto;
  }

  &__content {
    --h1-fs: #{rem($fs-text-preset-1-mobile)};
    --p-fs: #{rem($fs-text-preset-4-tablet)};

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: rem(24);
    max-width: rem(480); // figma says rem(448.3)
    padding: rem(48) rem(35) rem(32) rem(35);

    h1 {
      max-width: 10ch;
      color: $color-slate-900;
      @include text-preset-1;
      font-size: var(--h1-fs);
    }

    p {
      color: $color-slate-600;
      @include text-preset-4;
      font-size: var(--p-fs);
    }

    .btn-group {
      padding: 0 rem(56);
      flex-wrap: wrap;
    }
  }
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: rem(32);
  padding-bottom: rem(64);

  &__image-collage {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    align-content: stretch;
    justify-items: center;
    gap: rem(16);
    max-width: rem(1120);
    padding: rem(64) 0;

    img {
      width: 100%;
      min-width: rem(147.5);
      height: 100%;
      min-height: rem(144);
      object-fit: cover;
      border-radius: rem(8);
    }
  }

  &__text {
    --h2-fs: #{rem($fs-text-preset-2-mobile)};
    --p-fs: #{rem($fs-text-preset-3-mobile)};

    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: rem(504);

    h2 {
      padding-bottom: rem(32);
      @include text-preset-2;
      font-size: var(--h2-fs);
      color: $color-slate-900;

      em {
        display: block;
        padding-bottom: rem(16);
        @include text-preset-3;
        font-size: var(--p-fs);
        text-transform: uppercase;
        color: $color-cyan-600;
      }
    }

    p {
      @include text-preset-4;
      font-size: rem($fs-text-preset-4-tablet);
      color: $color-slate-600;
    }
  }
}

.cta-footer {
  --image-footer: #{url("../images/mobile/image-footer.jpg")};
  --h2-fs: #{rem($fs-text-preset-2-mobile)};
  --p-fs: #{rem($fs-text-preset-4-tablet)};

  width: 100%;
  color: $color-white;
  background: var(--image-footer);
  background-repeat: no-repeat;
  background-size: cover;

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: rem(24);
    margin-top: -#{rem(math.div($number-height, 2))};
    padding: rem(64) rem(32);
    background-color: $color-cta-background;

    h2 {
      @include text-preset-2;
      font-size: var(--h2-fs);
    }

    p {
      min-width: rem(311);
      max-width: rem(504);
      @include text-preset-4;
      font-size: var(--p-fs);
    }
  }
}
