@use "sass:math";

@use "reset";
@use "hidden";
@use "buttons";
@use "number";
@use "breakpoints";

@use "variables" as v;
@use "functions" as fn;
@use "typography" as ty;

body {
  padding-top: fn.rem(80);
  font-family: "Red Hat Display", sans-serif, system-ui;
  font-size: v.$fs;
  text-align: center;
}

.navbar {
  &__item {
    display: block;
  }
}

main {
  width: 100%;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-top: fn.rem(64);

  &__image-mobile {
    --min-width: #{fn.rem(433)};
    --max-width: #{fn.rem(820)};
    --min-height: #{fn.rem(160)};
    --max-height: #{fn.rem(303)};

    width: 100%;
    height: clamp(
      var(--min-height),
      var(--min-height) + (100vw - fn.rem(v.$breakpoint-mobile)),
      var(--max-height)
    );
    background: url("../images/tablet/image-hero.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: clamp(
        var(--min-width),
        var(--min-width) + (100vw - var(--min-width)),
        100%
      )
      auto;
  }

  &__content {
    --h1-fs: #{fn.rem(v.$fs-text-preset-1-mobile)};
    --p-fs: #{fn.rem(v.$fs-text-preset-4-tablet)};

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: fn.rem(24);
    max-width: fn.rem(480); // figma says fn.rem(448.3)
    padding-top: fn.rem(48);
    padding-bottom: fn.rem(32);
  }

  &__title {
    max-width: 10ch;
    color: v.$color-slate-900;
    @include ty.text-preset-1;
    font-size: var(--h1-fs);
  }

  &__description {
    color: v.$color-slate-600;
    @include ty.text-preset-4;
    font-size: var(--p-fs);
  }

  &__buttons {
    padding: 0 fn.rem(56);
    flex-wrap: wrap;
  }
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: fn.rem(32);
  padding-bottom: fn.rem(64);

  &__image-collage {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    align-content: stretch;
    justify-items: center;
    gap: fn.rem(16);
    max-width: fn.rem(1120);
    padding: fn.rem(64) 0;

    img {
      width: 100%;
      min-width: fn.rem(147.5);
      height: 100%;
      min-height: fn.rem(144);
      object-fit: cover;
      border-radius: fn.rem(8);
    }
  }

  &__text {
    --h2-fs: #{fn.rem(v.$fs-text-preset-2-mobile)};
    --p-fs: #{fn.rem(v.$fs-text-preset-3-mobile)};

    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: fn.rem(504);

    h2 {
      padding-bottom: fn.rem(32);
      @include ty.text-preset-2;
      font-size: var(--h2-fs);
      color: v.$color-slate-900;

      em {
        display: block;
        padding-bottom: fn.rem(16);
        @include ty.text-preset-3;
        font-size: var(--p-fs);
        text-transform: uppercase;
        color: v.$color-cyan-600;
      }
    }

    p {
      @include ty.text-preset-4;
      font-size: fn.rem(v.$fs-text-preset-4-tablet);
      color: v.$color-slate-600;
    }
  }
}

.cta-footer {
  --image-footer: #{url("../images/mobile/image-footer.jpg")};
  --h2-fs: #{fn.rem(v.$fs-text-preset-2-mobile)};
  --p-fs: #{fn.rem(v.$fs-text-preset-4-tablet)};

  width: 100%;
  color: v.$color-white;
  background: var(--image-footer);
  background-repeat: no-repeat;
  background-size: cover;

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: fn.rem(24);
    margin-top: -#{fn.rem(math.div(v.$number-height, 2))};
    padding: fn.rem(64) fn.rem(32);
    background-color: v.$color-cta-background;

    h2 {
      @include ty.text-preset-2;
      font-size: var(--h2-fs);
    }

    p {
      min-width: fn.rem(311);
      max-width: fn.rem(504);
      @include ty.text-preset-4;
      font-size: var(--p-fs);
    }
  }
}
