@use "typography" as ty;
@use "variables" as v;
@use "functions" as fn;

.success-dialog {
  display: flex;
  flex-direction: column;
  width: fn.rem(v.$mobile-dialog-width);
  min-height: 100dvh;
  padding: fn.rem(149) fn.rem(24) fn.rem(40) fn.rem(24);
  color: v.$color-dark-navy;
  background-color: v.$color-white;

  &__image {
    width: fn.rem(64);
    height: fn.rem(64);
    background-image: url("../images/icon-list.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  &__content {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-top: fn.rem(40);
  }

  &__title {
    @include ty.heading;
    font-size: fn.rem(40);
  }

  &__description {
    flex: 1;
    padding-top: fn.rem(24);
    @include ty.body;
  }

  &__dismiss-btn {
    justify-self: flex-end;
  }
}