input[type="range"] {
  --progress: 0; /* this value will be updated by the component */
  --max-slider-width: 500px;
  --track-size: 8px;
  --thumb-size: 28px;
  /* removing default appearance */
  -webkit-appearance: none;
  appearance: none;
  /* creating a custom design */
  height: var(--track-size);
  background: transparent;
  cursor: pointer;
  outline: none;
}

input[type="range"]::-webkit-slider-runnable-track {
  /* removing default appearance */
  -webkit-appearance: none;
  appearance: none;
  /* creating a custom design */
  height: var(--track-size);
  background: linear-gradient(
    to right,
    var(--neon-green) var(--progress, 0%),
    var(--very-dark-grey) var(--progress, 0%)
  );
  border-radius: 0;
}

input[type="range"]::-moz-range-track {
  /* creating a custom design */
  height: var(--track-size);
  background: linear-gradient(
    to right,
    var(--neon-green) var(--progress, 0%),
    var(--very-dark-grey) var(--progress, 0%)
  );
  border-radius: 0;
}

input[type="range"]::-webkit-slider-thumb {
  /* removing default appearance */
  -webkit-appearance: none;
  appearance: none;
  /* creating a custom design */
  width: var(--thumb-size);
  height: var(--thumb-size);
  margin-top: calc((var(--thumb-size) - var(--track-size)) / -2);
  background-color: var(--almost-white);
  border-radius: 50%;
}

input[type="range"]::-webkit-slider-thumb:hover,
input[type="range"]::-webkit-slider-thumb:active {
  background-color: var(--very-dark-grey);
  border: 2px solid var(--neon-green);
}

input[type="range"]:focus::-webkit-slider-thumb {
  box-shadow: 0 0 0 6px rgba(var(--red-rgb), .75);
}

input[type="range"]::-moz-range-thumb {
  /* removing default appearance */
  appearance: none;
  /* creating a custom design */
  width: var(--thumb-size);
  height: var(--thumb-size);
  background-color: var(--neon-green);
  border-radius: 50%;
  border: 0;
  cursor: pointer;
}

input[type="range"]::-moz-range-thumb:hover,
input[type="range"]::-moz-range-thumb:focus {
  background-color: var(--very-dark-grey);
  border: 2px solid var(--neon-green);
}

input[type="range"]:focus::-moz-range-thumb {
  box-shadow: 0 0 0 6px rgba(var(--red-rgb), .75);
}
